{{template "header" .}}

<div class="cs p">
    <h1>
        {{s "downloadClient"}}
    </h1>
    <a style="align-self: flex-end;" href="https://github.com/lan-genius/releases/releases">{{s "releaseHistory"}}</a>
</div>
<div>
    <span class="card m2" style="vertical-align: top;background-color: cornsilk;width: 300px;"><span class="r">
            <h3 class="ml">Android</h3>
        </span> <br>
        <hr>
        <div class="r"><img src="/res/img/android.svg" alt=".apk" width="24" height="24">
            <div class="cs ml"><b>.apk</b>
            </div>
        </div> <br>
        <div class="r between">
            <a class="btn btn-primary" href="https://github.com/lan-genius/releases/releases/latest/download/langenius_android.apk">
                <i class="icon-download-alt icon-white"></i>
                <span>下载</span>
            </a>
            <a href="https://wwwz.lanzout.com/iTW4T1a6rvlc">
                <small data-svelte-h="svelte-1ny5vnd">国内高速下载</small>
            </a>
        </div>
    </span>
    <span class="card m2" style="vertical-align: top;background-color: cornsilk;width: 300px;"><span class="r">
            <h3 class="ml">Windows</h3>
        </span> <br>
        <hr>
        <div class="r">
            <img src="/res/img/windows.svg" alt="Windows 10/11" width="24" height="24">
            <div class="cs ml"><b>Windows 10/11</b>
                <div class="w" contenteditable="false">{{s "ifNotWorkPleaseInstall"}}<a target="_blank" href="https://dotnet.microsoft.com/en-us/download/dotnet-framework/thank-you/net48-offline-installer"><small>.Net 4.8</small></a></div>
            </div>
        </div> <br>
        <div class="r between"><a class="btn btn-primary" href="https://github.com/lan-genius/releases/releases/latest/download/langenius_windows_dotnet4.8.exe"><i class="icon-download-alt icon-white"></i> <span>下载</span></a> </div>
        <hr>
        <div class="r">
            <img src="/res/img/windows7.jpeg" alt="Windows 7" width="24" height="24">
            <div class="cs ml">
                <b>Windows 7</b>
                <div class="w" contenteditable="false">{{s "ifNotWorkPleaseInstall"}}
                    <a target="_blank" href="https://dotnet.microsoft.com/en-us/download/dotnet-framework/thank-you/net35-sp1-web-installer"><small>.Net 3.5</small></a>
                </div>
            </div>
        </div> <br>
        <div class="r between"><a class="btn btn-primary" href="/res/langenius_windows_dotnet3.5_v10.0.0.exe"><i class="icon-download-alt icon-white"></i> <span>下载</span></a> </div>
        <hr>
        <div class="r">
            <img src="/res/img/windowsxp.jpg" alt="Windows XP/8/8.1" width="48" height="24">
            <div class="cs ml"><b>Windows XP/8/8.1</b>
                <div class="w" contenteditable="false">{{s "pleaseInstallDependency"}}<a target="_blank" href="https://dotnet.microsoft.com/en-us/download/dotnet-framework/thank-you/net35-sp1-web-installer"><small>.Net 3.5</small></a></div>
            </div>
        </div> <br>
        <div class="r between"><a class="btn btn-primary" href="/res/langenius_windows_dotnet3.5_v10.0.0.exe"><i class="icon-download-alt icon-white"></i> <span>下载</span></a> </div>
    </span>
    <span class="card m2" style="vertical-align: top;background-color: cornsilk;width: 300px;"><span class="r">
            <h3 class="ml">Apple</h3>
        </span> <br>
        <hr>
        <div class="r">
            <img src="/res/img/altstore.png" alt="iOS AltStore" width="24" height="24">
            <div class="cs ml"><b>iOS AltStore</b>
                <div class="w" contenteditable="false"><a target="_blank" href="https://altstore.io">AltStore Guide</a> <a target="_blank" href="https://www.bilibili.com/video/BV1N8411J7sn">中文安装教程</a></div>
            </div>
        </div> <br>
        <div class="r between">
            <a class="btn btn-primary" href="https://github.com/lan-genius/releases/releases/latest/download/LanGenius_ios_altstore.ipa">
                <i class="icon-download-alt icon-white"></i> <span>下载</span>
            </a>
            <a href="https://wwf.lanzout.com/icBYT1ry6uhg"><small data-svelte-h="svelte-1ny5vnd">国内高速下载</small></a>
        </div>
        <hr>
        <div class="r">
            <img src="/res/img/apple.svg" alt="Mac OS" width="24" height="24">
            <div class="cs ml"><b>Mac OS</b>
                <div class="w" contenteditable="false">v8.2.1</div>
            </div>
        </div> <br>
        <div class="r between">
            <a class="btn btn-primary" href="https://github.com/lan-genius/releases/releases/latest/download/langenius_mac.zip">
                <i class="icon-download-alt icon-white"></i> <span>下载</span>
            </a>
            <a href="https://wwi.lanzoui.com/ieANFwhmc7a">
                <small data-svelte-h="svelte-1ny5vnd">国内高速下载</small>
            </a>
        </div>
    </span>
    <span class="card m2" style="vertical-align: top;background-color: cornsilk;width: 300px;"><span class="r">
            <h3 class="ml">Linux</h3>
        </span> <br>
        <hr>
        <div class="r">
            <img src="/res/img/linux.svg" alt="Linux" width="24" height="24">
            <div class="cs ml"><b>Linux</b>
                <div class="w" contenteditable="false">v.8.2.1</div>
            </div>
        </div> <br>
        <div class="r between">
            <a class="btn btn-primary" href="https://github.com/lan-genius/releases/releases/latest/download/langenius_linux_amd64.tar.gz">
                <i class="icon-download-alt icon-white"></i> <span>下载</span>
            </a>
            <a href="https://wwi.lanzoui.com/if63Kwhkisf">
                <small data-svelte-h="svelte-1ny5vnd">国内高速下载</small>
            </a>
        </div>
    </span>
</div>

{{template "footer" .}}